:root {
  --section-margin-bottom: 94px;
  --title-text-color: #212121;
  --text-color: #757575;
  --background-hero-color: #2f303a;
  --hero-tytle-color: #ffffff;
  --hero-btn-texr-color: #ffffff;
  --hero-btn-background-color: #2196f3;
  --accent-color: #2196f3;
  --background-color: #ffffff;
  --additional-font-color: #ffffff;
  --button-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --footer-text-color: rgba(255, 255, 255, 0.6);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

body {
  font-family: 'Roboto', sans-serif;

  color: var(--text-color);
  background-color: var(--background-color);
}
.container {
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid red;
}

.section {
  padding-bottom: var(--section-margin-bottom);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/*--------------HEADER------------*/
.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ececec;
}
/*------------- лого-----------  */
.logo {
  margin-right: 93px;

  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}
.accent {
  color: var(--accent-color);
}
.list {
  list-style: none;
}
.link {
  text-decoration-line: none;
}

/* ---------------site-nav------------ */

.nav-link {
  text-decoration: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--title-text-color);
}
.current {
  color: var(--accent-color);
}

/* ----------------contacts header ----------------*/
.nav-auth-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--text-color);
}
/*---------------MAIN----------------------
/* ---------------hero------------------------ */
.hero {
  padding-top: 200px;

  text-align: center;

  background-color: var(--background-hero-color);
}
.hero-title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--hero-tytle-color);
}
.hero-btn {
  border-radius: 4px;
  padding: 10px 32px;
  margin-bottom: 30px;
  min-width: 200px;

  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;

  background-color: var(--hero-btn-background-color);
  color: var(--hero-btn-texr-color);
}

/* -------------------features---------------- */
.features-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--title-text-color);
}

.features-text {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;

  color: var(--text-color);
}
/* -----------------section about------------ */
.about-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

/* ------------------наша команда----------------- */
.team-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}
.team-names {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}
.team-position {
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;

  color: var(--text-color);
}

.team-content {
  padding-top: 30px;
}

/*------------------ buttons----------------- */
.filter {
  display: flex;
}

.filter-button {
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 73px;

  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;

  color: var(--title-text-color);
  background-color: var(--button-background-color);
}

.filter-button:hover,
.filter-button:focus {
  color: var(--additional-font-color);
  background-color: var(--accent-color);
}
/* ---------------примеры работ  projects------------- */

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;

  color: var(--title-text-color);
}
.project-text {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;

  color: var(--text-color);
}
/*----------------- FOOTER--------------- */

.footer {
  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;

  background-color: var(--footer-background-color);
}
.footer .logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  color: var(--additional-font-color);
}

.footer-link {
  font-style: normal;

  color: var(--footer-text-color);
}
.footer-address {
  font-style: normal;

  color: var(--additional-font-color);
}
.link:hover,
.link:focus {
  color: var(--accent-color);
}
